<h3>This calculator will tell you your hotness rating. This is measured in the national hotness scale of 1-10, with 10 being "bed me now" and 1 being "shoot me now".</h3>
<p></p>
<h3>In the first box please input on a scale of 1-10 how much you think people turn around in the street to stare at you? 10 is all the time an 1 is never.</h3>
<h3>In the second box please choose another number between 1 and 10 which represents how often you look in the mirror.</h3>

<% if @hotness_calculator %>
<h1>The result is.... <%= @hotness_calculator %></h1>

<% end %>

<form method="get" action="/hotness_calculator">

<input type="number" name="street_looking" placeholder="street 1-10">
<input type="number" name="mirror_looking" placeholder="mirror 1-10">
<button>CALCULATE DEM NUMS</button>