<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Calc-U-L8r</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body

  <nav id= main>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about_calculator">About_the_Calculator</a></li>
      <li><a href="/super_calculator">Super_Calculator</a></li>
      <li><a href="/volumes">Volume Calculator</a></li>
      <li><a href="/hotness_calculator">Hotness Calculator</a></li>
    </ul>
  </nav>

  <h1><%= yield %></h1>

</body>
</html>